# Project : Investigate a Project (Census and Gun data)

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#cleaning">Data Cleaning</a></li>    
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## INTRODUCTION

The data comes from the FBI's National Instant Criminal Background Check System. The NICS is used by to determine whether a prospective buyer is eligible to buy firearms or explosives. Gun shops call into this system to ensure that each customer does not have a criminal record or isn’t otherwise ineligible to make a purchase. The data has been supplemented with state level data from census.gov

The dataset used in this notebook is the FBI Gun Datasets, which include two dataset, one is a number of background checks from FBI upon any gun purchases, the other one is a Census Data including various census related variables.

The FBI Gun data inclues a range of different background check types, to name a few, 'permit', 'permit_recheck', 'handgun', 'long_gun', 'multiple'(purchasing more than one gun per background check). For each month, each state, there's a data point consisting all the above mentioned variables. Among all the variables, only the 'totals' variable will be used here, which means the total number of all the various background checks in each state and month.

In [57]:
#importing the libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

<a id="wrangling"></a>   
## DATA WRANGLING

In [58]:
#importing the data using pandas 
gun_data = pd.read_csv('gun_data.csv')
census_data = pd.read_csv('U.S. Census Data.csv')

In [59]:
#inspecting the data
gun_data.head(3)

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,0.0,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394

In [60]:
census_data.head(3)

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",NaN,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%

In [61]:
gun_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      12485 non-null  object
 1   state                      12485 non-null  object
 2   permit                     12461 non-null  float64
 3   permit_recheck             1100 non-null   float64
 4   handgun                    12465 non-null  float64
 5   long_gun                   12466 non-null  float64
 6   other                      5500 non-null   float64
 7   multiple                   12485 non-null  int64
 8   admin                      12462 non-null  float64
 9   prepawn_handgun            10542 non-null  float64
 10  prepawn_long_gun           10540 non-null  float64
 11  prepawn_other              5115 non-null   float64
 12  redemption_handgun         10545 non-null  float64
 13  redemption_long_gun        10544 non-null  float64
 14  redemption_other           5115 non-null   float64
 15  returned_handgun           2200 non-null   float64
 16  returned_long_gun          2145 non-null   float64
 17  returned_other             1815 non-null   float64
 18  rentals_handgun            990 non-null    float64
 19  rentals_long_gun           825 non-null    float64
 20  private_sale_handgun       2750 non-null   float64
 21  private_sale_long_gun      2750 non-null   float64
 22  private_sale_other         2750 non-null   float64
 23  return_to_seller_handgun   2475 non-null   float64
 24  return_to_seller_long_gun  2750 non-null   float64
 25  return_to_seller_other     2255 non-null   float64
 26  totals                     12485 non-null  int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.6+ MB

In [62]:
census_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 52 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fact            80 non-null     object
 1   Fact Note       28 non-null     object
 2   Alabama         65 non-null     object
 3   Alaska          65 non-null     object
 4   Arizona         65 non-null     object
 5   Arkansas        65 non-null     object
 6   California      65 non-null     object
 7   Colorado        65 non-null     object
 8   Connecticut     65 non-null     object
 9   Delaware        65 non-null     object
 10  Florida         65 non-null     object
 11  Georgia         65 non-null     object
 12  Hawaii          65 non-null     object
 13  Idaho           65 non-null     object
 14  Illinois        65 non-null     object
 15  Indiana         65 non-null     object
 16  Iowa            65 non-null     object
 17  Kansas          65 non-null     object
 18  Kentucky        65 non-null     object
 19  Louisiana       65 non-null     object
 20  Maine           65 non-null     object
 21  Maryland        65 non-null     object
 22  Massachusetts   65 non-null     object
 23  Michigan        65 non-null     object
 24  Minnesota       65 non-null     object
 25  Mississippi     65 non-null     object
 26  Missouri        65 non-null     object
 27  Montana         65 non-null     object
 28  Nebraska        65 non-null     object
 29  Nevada          65 non-null     object
 30  New Hampshire   65 non-null     object
 31  New Jersey      65 non-null     object
 32  New Mexico      65 non-null     object
 33  New York        65 non-null     object
 34  North Carolina  65 non-null     object
 35  North Dakota    65 non-null     object
 36  Ohio            65 non-null     object
 37  Oklahoma        65 non-null     object
 38  Oregon          65 non-null     object
 39  Pennsylvania    65 non-null     object
 40  Rhode Island    65 non-null     object
 41  South Carolina  65 non-null     object
 42  South Dakota    65 non-null     object
 43  Tennessee       65 non-null     object
 44  Texas           65 non-null     object
 45  Utah            65 non-null     object
 46  Vermont         65 non-null     object
 47  Virginia        65 non-null     object
 48  Washington      65 non-null     object
 49  West Virginia   65 non-null     object
 50  Wisconsin       65 non-null     object
 51  Wyoming         65 non-null     object
dtypes: object(52)
memory usage: 34.7+ KB

In [63]:
gun_data.state.nunique()

55

We need to check the state that is not in both data. We are store the state in both data into a new listand check for
such state using a loop

In [64]:
census_state = census_data.columns[2:]
census_state

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

In [65]:
gun_state = gun_data['state'].unique()
gun_state

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
       'Mariana Islands', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virgin Islands', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming'], dtype=object)

In [66]:
#loop to check the state in both dataset
for a in gun_state:
    if a not in census_state:
        print(a)

District of Columbia
Guam
Mariana Islands
Puerto Rico
Virgin Islands

In [67]:
#deleting the fact note data from the census data
del census_data['Fact Note']

The neeed to try and make the compatible, the state column is similar in the two dataset but the current problem is that
census data is not quite structured so we can merge the two datasets.
To achieve this we transpose the census data

In [68]:
#transpoing the data
census_df = census_data.T
census_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2...","Population, percent change - April 1, 2010 (es...","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, ...","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016,...","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2...","Persons 65 years and over, percent, April 1, 2010",...,NaN,Value Flags,-,D,F,FN,NaN,S,X,Z
Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,13.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,7.70%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
headers =census_df.iloc[0]
headers

0          Population estimates, July 1, 2016,  (V2016)
1     Population estimates base, April 1, 2010,  (V2...
2     Population, percent change - April 1, 2010 (es...
3                     Population, Census, April 1, 2010
4     Persons under 5 years, percent, July 1, 2016, ...
                            ...
80                                                   FN
81                                                  NaN
82                                                    S
83                                                    X
84                                                    Z
Name: Fact, Length: 85, dtype: object

In [71]:
## set the second row as the header
census_df.rename(columns =census_df.iloc[0], inplace =True)
census_df.head(2)

,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)","Persons 65 years and over, percent, April 1, 2010",...,NaN,Value Flags,-,D,F,FN,NaN,S,X,Z
Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2...","Population, percent change - April 1, 2010 (es...","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, ...","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016,...","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2...","Persons 65 years and over, percent, April 1, 2010",...,NaN,Value Flags,-,D,F,FN,NaN,S,X,Z
Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,13.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
census_df.drop(axis = 0, index = 'Fact', inplace = True)
census_df.head(2)

,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)","Persons 65 years and over, percent, April 1, 2010",...,NaN,Value Flags,-,D,F,FN,NaN,S,X,Z
Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,13.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,7.70%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
#setting index
census_df.reset_index(inplace = True)
census_df.head(2)

,index,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,NaN,Value Flags,-,D,F,FN,NaN,S,X,Z
0,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 86 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   index                                                                                   50 non-null     object
 1   Population estimates, July 1, 2016,  (V2016)                                            50 non-null     object
 2   Population estimates base, April 1, 2010,  (V2016)                                      50 non-null     object
 3   Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)   50 non-null     object
 4   Population, Census, April 1, 2010                                                       50 non-null     object
 5   Persons under 5 years, percent, July 1, 2016,  (V2016)                                  50 non-null     object
 6   Persons under 5 years, percent, April 1, 2010                                           50 non-null     object
 7   Persons under 18 years, percent, July 1, 2016,  (V2016)                                 50 non-null     object
 8   Persons under 18 years, percent, April 1, 2010                                          50 non-null     object
 9   Persons 65 years and over, percent,  July 1, 2016,  (V2016)                             50 non-null     object
 10  Persons 65 years and over, percent, April 1, 2010                                       50 non-null     object
 11  Female persons, percent,  July 1, 2016,  (V2016)                                        50 non-null     object
 12  Female persons, percent, April 1, 2010                                                  50 non-null     object
 13  White alone, percent, July 1, 2016,  (V2016)                                            50 non-null     object
 14  Black or African American alone, percent, July 1, 2016,  (V2016)                        50 non-null     object
 15  American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)                50 non-null     object
 16  Asian alone, percent, July 1, 2016,  (V2016)                                            50 non-null     object
 17  Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)       50 non-null     object
 18  Two or More Races, percent, July 1, 2016,  (V2016)                                      50 non-null     object
 19  Hispanic or Latino, percent, July 1, 2016,  (V2016)                                     50 non-null     object
 20  White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)                    50 non-null     object
 21  Veterans, 2011-2015                                                                     50 non-null     object
 22  Foreign born persons, percent, 2011-2015                                                50 non-null     object
 23  Housing units,  July 1, 2016,  (V2016)                                                  50 non-null     object
 24  Housing units, April 1, 2010                                                            50 non-null     object
 25  Owner-occupied housing unit rate, 2011-2015                                             50 non-null     object
 26  Median value of owner-occupied housing units, 2011-2015                                 50 non-null     object
 27  Median selected monthly owner costs -with a mortgage, 2011-2015                         50 non-null     object
 28  Median selected monthly owner costs -without a mortgage, 2011-2015                      50 non-null     object
 29  Median gross rent, 2011-2015                                                            50 non-null     object
 30  Building permits, 2016                                                                  50 non-null     object
 31  Households, 2011-2015                                                                   50 non-null     object
 32  Persons per household, 2011-2015                                                        50 non-null     object
 33  Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015              50 non-null     object
 34  Language other than English spoken at home, percent of persons age 5 years+, 2011-2015  50 non-null     object
 35  High school graduate or higher, percent of persons age 25 years+, 2011-2015             50 non-null     object
 36  Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015                50 non-null     object
 37  With a disability, under age 65 years, percent, 2011-2015                               50 non-null     object
 38  Persons  without health insurance, under age 65 years, percent                          50 non-null     object
 39  In civilian labor force, total, percent of population age 16 years+, 2011-2015          50 non-null     object
 40  In civilian labor force, female, percent of population age 16 years+, 2011-2015         50 non-null     object
 41  Total accommodation and food services sales, 2012 ($1,000)                              50 non-null     object
 42  Total health care and social assistance receipts/revenue, 2012 ($1,000)                 50 non-null     object
 43  Total manufacturers shipments, 2012 ($1,000)                                            50 non-null     object
 44  Total merchant wholesaler sales, 2012 ($1,000)                                          50 non-null     object
 45  Total retail sales, 2012 ($1,000)                                                       50 non-null     object
 46  Total retail sales per capita, 2012                                                     50 non-null     object
 47  Mean travel time to work (minutes), workers age 16 years+, 2011-2015                    50 non-null     object
 48  Median household income (in 2015 dollars), 2011-2015                                    50 non-null     object
 49  Per capita income in past 12 months (in 2015 dollars), 2011-2015                        50 non-null     object
 50  Persons in poverty, percent                                                             50 non-null     object
 51  Total employer establishments, 2015                                                     50 non-null     object
 52  Total employment, 2015                                                                  50 non-null     object
 53  Total annual payroll, 2015 ($1,000)                                                     50 non-null     object
 54  Total employment, percent change, 2014-2015                                             50 non-null     object
 55  Total nonemployer establishments, 2015                                                  50 non-null     object
 56  All firms, 2012                                                                         50 non-null     object
 57  Men-owned firms, 2012                                                                   50 non-null     object
 58  Women-owned firms, 2012                                                                 50 non-null     object
 59  Minority-owned firms, 2012                                                              50 non-null     object
 60  Nonminority-owned firms, 2012                                                           50 non-null     object
 61  Veteran-owned firms, 2012                                                               50 non-null     object
 62  Nonveteran-owned firms, 2012                                                            50 non-null     object
 63  Population per square mile, 2010                                                        50 non-null     object
 64  Land area in square miles, 2010                                                         50 non-null     object
 65  FIPS Code                                                                               50 non-null     object
 66  nan                                                                                     0 non-null      object
 67  NOTE: FIPS Code values are enclosed in quotes to ensure leading zeros remain intact.    0 non-null      object
 68  nan                                                                                     0 non-null      object
 69  Value Notes                                                                             0 non-null      object
 70  1                                                                                       0 non-null      object
 71  nan                                                                                     0 non-null      object
 72  Fact Notes                                                                              0 non-null      object
 73  (a)                                                                                     0 non-null      object
 74  (b)                                                                                     0 non-null      object
 75  (c)                                                                                     0 non-null      object
 76  nan                                                                                     0 non-null      object
 77  Value Flags                                                                             0 non-null      object
 78  -                                                                                       0 non-null      object
 79  D                                                                                       0 non-null      object
 80  F                                                                                       0 non-null      object
 81  FN                                                                                      0 non-null      object
 82  nan                                                                                     0 non-null      object
 83  S                                                                                       0 non-null      object
 84  X                                                                                       0 non-null      object
 85  Z                                                                                       0 non-null      object
dtypes: object(86)
memory usage: 33.7+ KB

<a id='cleaning'></a>
##  DATA CLEANING

From the census data column 65 through the 85 are completely null, so we need to clean that part for now, if in subsequent time 
other columns are not needed, then they will be dropped

In [84]:
null_census = census_df.columns[census_df.isnull().any()].to_list()
null_census

[nan,
 'NOTE: FIPS Code values are enclosed in quotes to ensure leading zeros remain intact.',
 nan,
 'Value Notes',
 '1',
 nan,
 'Fact Notes',
 '(a)',
 '(b)',
 '(c)',
 nan,
 'Value Flags',
 '-',
 'D',
 'F',
 'FN',
 nan,
 'S',
 'X',
 'Z']

In [86]:
census_df.drop(null_census, axis = 1, inplace = True)

In [88]:
#verifying the columns we have dropped
census_df.columns

Index(['index', 'Population estimates, July 1, 2016,  (V2016)',
       'Population estimates base, April 1, 2010,  (V2016)',
       'Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)',
       'Population, Census, April 1, 2010',
       'Persons under 5 years, percent, July 1, 2016,  (V2016)',
       'Persons under 5 years, percent, April 1, 2010',
       'Persons under 18 years, percent, July 1, 2016,  (V2016)',
       'Persons under 18 years, percent, April 1, 2010',
       'Persons 65 years and over, percent,  July 1, 2016,  (V2016)',
       'Persons 65 years and over, percent, April 1, 2010',
       'Female persons, percent,  July 1, 2016,  (V2016)',
       'Female persons, percent, April 1, 2010',
       'White alone, percent, July 1, 2016,  (V2016)',
       'Black or African American alone, percent, July 1, 2016,  (V2016)',
       'American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)',
       'Asian alone, percent, July 1, 2016,  (V2016)',
       'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
       'Two or More Races, percent, July 1, 2016,  (V2016)',
       'Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'Veterans, 2011-2015', 'Foreign born persons, percent, 2011-2015',
       'Housing units,  July 1, 2016,  (V2016)',
       'Housing units, April 1, 2010',
       'Owner-occupied housing unit rate, 2011-2015',
       'Median value of owner-occupied housing units, 2011-2015',
       'Median selected monthly owner costs -with a mortgage, 2011-2015',
       'Median selected monthly owner costs -without a mortgage, 2011-2015',
       'Median gross rent, 2011-2015', 'Building permits, 2016',
       'Households, 2011-2015', 'Persons per household, 2011-2015',
       'Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015',
       'Language other than English spoken at home, percent of persons age 5 years+, 2011-2015',
       'High school graduate or higher, percent of persons age 25 years+, 2011-2015',
       'Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015',
       'With a disability, under age 65 years, percent, 2011-2015',
       'Persons  without health insurance, under age 65 years, percent',
       'In civilian labor force, total, percent of population age 16 years+, 2011-2015',
       'In civilian labor force, female, percent of population age 16 years+, 2011-2015',
       'Total accommodation and food services sales, 2012 ($1,000)',
       'Total health care and social assistance receipts/revenue, 2012 ($1,000)',
       'Total manufacturers shipments, 2012 ($1,000)',
       'Total merchant wholesaler sales, 2012 ($1,000)',
       'Total retail sales, 2012 ($1,000)',
       'Total retail sales per capita, 2012',
       'Mean travel time to work (minutes), workers age 16 years+, 2011-2015',
       'Median household income (in 2015 dollars), 2011-2015',
       'Per capita income in past 12 months (in 2015 dollars), 2011-2015',
       'Persons in poverty, percent', 'Total employer establishments, 2015',
       'Total employment, 2015', 'Total annual payroll, 2015 ($1,000)',
       'Total employment, percent change, 2014-2015',
       'Total nonemployer establishments, 2015', 'All firms, 2012',
       'Men-owned firms, 2012', 'Women-owned firms, 2012',
       'Minority-owned firms, 2012', 'Nonminority-owned firms, 2012',
       'Veteran-owned firms, 2012', 'Nonveteran-owned firms, 2012',
       'Population per square mile, 2010', 'Land area in square miles, 2010',
       'FIPS Code'],
      dtype='object')